:root {
    /* Declare custom properties here */
    --main-color: #123123;
}

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    /* background-color: #e1ecf4; */
    height: 140px;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 0px;
    color: #39739d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    box-shadow: rgba(57, 115, 157, 0.4) 0px 5px, rgba(57, 115, 157, 0.3) 0px 10px, rgba(57, 115, 157, 0.2) 0px 15px, rgba(57, 115, 157, 0.1) 0px 20px, rgba(57, 115, 157, 0.05) 0px 25px;
}

.header > p {
    margin: 0;
    padding: 0;

    font-size: 32px;
    font-weight: 400;
}

.lib-add-wrapper {
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Library new book dialog modal  */
::backdrop {
    opacity: 0.9;
}

dialog {
    width: 20%;
    padding: 10px;
}

#close-modal{
    border: none;
    background-color: transparent;
}

#close-modal:hover {
    transform: scale(1.2);
    font-weight: 800;
    transition: 0.1s;
}

#input-form {
    height: 50vh;

    display: flex;
    flex-direction: column;
}

.input-wrapper {
    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    width: 90%;
    
    
}

.input-box > label {
    padding-right: 15px;

}

.submit-box {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button CSS */
#add-book {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;

  width: 100px;
}

#add-book:hover,
#add-book:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

#add-book:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#add-book:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
/* Button Styling End */


/* Library Content */
.content {
    height: calc(100vh - 140px);
    box-sizing: border-box;

    padding: 30px;
}

/* Lib Card Container */
.lib-wrapper {
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;

    padding: 15px;
}

.lib-card {
    background-color: #e1ecf4;

    outline: 1px solid #7aa7c7;
    border-radius: 15px;
    height: 180px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 1fr;
}

.lib-card:hover,
.lib-card:focus {
  background-color: rgba(0, 149, 255, .15);
}

.lib-card:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}


.lib-card > div {
    overflow: hidden;
}

/* Card Styling */
.card-title {
    grid-area: 1/1/2/3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding-left: 5px;
}

.card-title > p {
    margin: 0;

    overflow-y: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
    font-weight: 600;
}

.card-author {
    font-size: 12px;
    font-weight: 300;
}

.card-pages {
    grid-area: 2/1/3/2;

    overflow-y: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 12px;
    font-weight: 300;

    background-color: #7aa7c7;
    margin: 10px;
    border-radius: 15px;
    color: white;
}

.card-genre {
    grid-area: 2/2/3/3;

    overflow-y: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 12px;
    font-weight: 300;

    background-color: #39739d;
    margin: 10px;
    border-radius: 15px;
    color: white;
}

.card-read-status {
    grid-area: 3/1/4/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-read-status > p {
    margin: 0;

    font-size: 11px;
    font-style: italic;
    font-weight: 300;

    padding-bottom: 5px;
}

/* Checkbox */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }

.card-delete {
    grid-area: 3/1/4/3;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding-right: 15px;
    padding-bottom: 5px;
}

.delete-icon-wrapper {
    width: 20px;
    border:none;
    padding: 0;

    background-color: transparent;
}

.delete-icon-wrapper:hover,
.delete-icon-wrapper:focus {
    transform:scale(1.2);
    transition: 0.1s;
}



/* Footer */
.footer {
    background-color: #eeeeee;
    color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}


